/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Raleway', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration: none;}

/*------------------------------------------------------*/
body{
    font-family: 'Raleway', sans-serif;
}
.logInPageContainer{
    width: 500px; height: 500px;
    margin-left: auto; margin-right: auto;
    margin-top: 300px; display: block;
}
.pageTitle{
    text-align: center; font-size: 50px;
}
.pageInfo{
    text-align: center; margin: 25px;
}
.pageInfo a{
    color: #f59f1e;
}
.inputContainer{
    width: 300px; 
    margin-left: auto; margin-right: auto;
}
.inputStyle{
    border: none; border-bottom: 1px solid #000; 
    margin-top: 5px; margin-bottom: 20px; 
    width: 300px; outline: none; line-height: 25px;
}
.warning{
    color: red;
    display: none;
}
.submitBTN{
    margin-top: 50px; background-color: #ffb649;
    width: 300px; height: 50px; color: #FFFFFF;
    margin-left: auto; margin-right: auto;
    font-size: 20px; cursor: pointer;
}
.signUpPageContainer{
    width: 500px; height: 500px;
    margin-left: auto; margin-right: auto;
    margin-top: 300px; display: none;
}
.signUpBTN{
    margin-top: 50px; background-color: #ffb649;
    width: 300px; height: 50px; color: #FFFFFF;
    margin-left: auto; margin-right: auto;
    font-size: 20px; cursor: pointer;
}

